<h3>restaurants</h3>

<% @restaurants.each do |restaurant| %>
  <div class="restaurant">
    <%= link_to restaurant.name, restaurant %>
    <%= link_to "Show all bookings", restaurant_bookings_path(restaurant) %>
    <%= link_to "Add booking", new_restaurant_booking_path(restaurant) %>
  </div>
<% end %>
